<template>
  <div class="p-10 h-[100vh] bg-teal-600 overflow-auto">
    <h1 class="text-4xl text-white flex items-center mb-10">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="35" class="mr-3" style="filter: invert(1)"><title>table</title><path d="M5,4H19A2,2 0 0,1 21,6V18A2,2 0 0,1 19,20H5A2,2 0 0,1 3,18V6A2,2 0 0,1 5,4M5,8V12H11V8H5M13,8V12H19V8H13M5,14V18H11V14H5M13,14V18H19V14H13Z" /></svg>
      Trello Board
    </h1>
    <TrelloBoard />
  </div>
</template>
