<script setup lang="ts">
import type { Task, ID } from '@/types';

const props = defineProps<{
  task: Task
}>()

const emit = defineEmits<{
  (e: "delete", payload: ID): void;
}>()

const focused = ref(false)
onKeyStroke("Backspace", (e) => {
  if (focused.value === true) {
    emit('delete', props.task.id)
  }
})
</script>

<template>
  <!-- tabindex="0" to make the div focusable, like an input. -->
  <div
    class="task flex bg-white p-2 mb-2 rounded shadow-sm max-w-[250px]"
    @focus="focused = true"
    @blur="focused = false"
    tabindex="0"
  >
    <DragHandle class="pr-2"></DragHandle>
    <span>
      {{ task.title }}
    </span>
  </div>
</template>

<style>
/* .sortable-chosen {
  background: green;
} */

.sortable-drag .task {
  transform: rotate(5deg);
}

.sortable-ghost .task {
  position: relative;
}

.sortable-ghost .task::after {
  content: "";
  @apply absolute top-0 bottom-0 left-0 right-0 bg-slate-300 rounded;
}

.task:focus,
.task:focus-visible
{
  @apply bg-blue-200;
}
</style>
